doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		nav
			ul.nav
				each route, i in locals.nav
					if route.name
						li
							a(href=route.path)= route.name
			ul.login
				if user
					li= user.username
					li 
						a(href='/users/logout') Logout
				else
					li 
						a(href='/users/register') Register
					li
						a(href='/users/login') Login
		!= messages('components/message', locals)
		if errors
			ul
			each error, i in errors
				li= error.msg
		block content
