extends /layout

block content
	h1 Register
	form(methos='POST', action='/users/register')
		.form-group
			label Name:
			input(name='name', type='text')
		.form-group
			label Email:
			input(name='email', type='text')
		.form-group
			label Username:
			input(name='username', type='text')
		.form-group
			label Password:
			input(name='password', type='password')
			label Confirm password:
			input(name='confirm-password', type='password')
		input(type='submit', value='Submit')
		